/* CSS overrides */

@media print {
    #narrationToggle, .reveal section audio { display: none }

    /* Fix bug in reveal.js */
    .reveal .slides { transform: none !important }
}

/* Override image margins from global stylesheet */
.reveal section img {
    margin: 10px;
}

.reveal section img.noborder {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    background: none;
}

/* Lede paragraphs */
.reveal section p {
    text-align: left;
}

.reveal section p.centered {
    text-align: center;
}

.reveal section.endmatter {
    font-size: 61.8%
}

.reveal section .note {
    padding-top: 1em; font-size: smaller
}

.reveal section table { border-collapse: collapse }

.reveal table tbody tr:last-child td { border-bottom: 1px solid }
.reveal table tbody tr:first-child td { border-top: 1px solid }

.reveal table tbody td, .reveal table thead td, .reveal table tbody th, .reveal table thead th { text-align: center }

.reveal ul.twocolumn { columns: 2; -webkit-columns: 2; -moz-columns: 2;
                       list-style: none; }

.reveal ul { display: block; }

/* Move audio controls to navigation area. Stolen from 
 * https://github.com/rajgoel/reveal.js-plugins/
 */
.reveal section audio {
    width: 50%; height: 75px; position: fixed; left: 25%; bottom: 4px;
    z-index: 33; opacity: 0.75; display: block;
}

.reveal section audio:hover { opacity: 1; }
